<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ServicoSincronizacaoCargas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ServicoSincronizacaoCargas.Properties.Settings>
            <setting name="UrlDownload" serializeAs="String">
                <value>http://bg.celtaware.com.br:10005/cargaloja02/</value>
            </setting>
            <setting name="Destino" serializeAs="String">
                <value>C:\Vol1\OutrasCargas\Toledo</value>
            </setting>
            <setting name="IntervaloAtualizacao" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ITENSMGV_TXT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ARQSOK_TXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEPTO_TXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TARA_TXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TXTINFO_TXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CADTXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SETORTXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REC_ASS" serializeAs="String">
                <value>False</value>
            </setting>
        </ServicoSincronizacaoCargas.Properties.Settings>
    </userSettings>
</configuration>